<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/2018-08-16/Urinals.jpg?pw=1200);">
    <div class="mega">
      <% if user_signed_in? %>
        <h1>Your<strong> Reservations</strong> !</h1>
        <h2>You can see here all your reservations</h2>
      <% else %>
        <h1>Your<strong> Reservations</strong> !</h1>
        <a class="btn btn-gradient" href="/users/sign_up">Create your account now 💦 </a>
      <% end %>
    </div>
</div>

<% if user_signed_in? %>
  <div class="container">
    <div class="cards">
        <% @bookings.each do |booking| %>
          <div class="card-product">
            <% if booking.toilet.photo.attached? %>
              <%= cl_image_tag booking.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "toilette_3.jpeg", height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="card-product-infos">
              <h2><%=booking.toilet.name%></h2>
              <p><%=booking.toilet.location%></p>
              <strong><%=booking.toilet.price%> Euros</strong> </p>
              <p><%= link_to "Show more", toilet_path(booking) %></p>
              <p><%= link_to "Book #{booking.toilet.name}", new_toilet_booking_path(booking) %></p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
<% else %>
<div></div>
<% end %>
