
<div class="container_show_seb">
  <div class="card-trip-seb">
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.photo) %>
      <% else%>
        <%= image_tag("toilette_3") %>
      <% end %>
    <div class="card-trip-infos-seb">
      <div>
        <h2>More info about <%=@toilet.name%>:</h2>
        <p><%=@toilet.description%></p>
        <br>
        <p>Where? <h2></h2><%=@toilet.location%></h2></p>
      </div>
      <h2 class="card-trip-pricing-seb">Price per pee is <%=@toilet.price%>€</h2>
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.user.photo, class: "card-trip-user-seb avatar-bordered") %>
      <% else%>
        <%= image_tag("pissr_logo", class: "card-trip-user-seb avatar-bordered") %>
      <% end %>
    </div>
  </div>
  <div class="card-trip-seb">
    <div class="log">
      <H3>Book <%=@toilet.name%>'s toilet now!</H3>
      <%= simple_form_for [@toilet, @booking] do |f| %>
      <br>
      <h2>When do you want to pee?</h2>
      <%= f.input :start_date, as: :select, collection: [['I want to pee now!!', Time.now], ['I can hold it for 15 min', Time.now + 15.minutes] ,['I can hold it for 30 min', Time.now + 30.minutes]], prompt: '- Are you in a hurry?', label: false %>
      <div id="wraper">
        <%= f.submit "Book #{@toilet.name}", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
