<div class="container_show">
  <br>
  <% booking = Booking.find(params[:id]) %>
  <% if (((booking.start_date - Time.now)/60).to_i).positive? %>
    <h1>Envoy your pee in <%= ((booking.start_date - Time.now)/60).to_i %> min 😎</h1>
    <div class="card-trip-seb">
        <% if booking.toilet.photo.attached? %>
          <%= image_tag(booking.toilet.photo) %>
        <% else%>
          <%= image_tag(image_path("https://res.cloudinary.com/dlyi5kech/image/upload/v1653648388/development/WC_jo2l1c.jpg")) %>
        <% end %>
      <div class="card-trip-infos-seb">
        <div>
          <h4>Your booked toilet: <%=booking.toilet.name%></h4>
          <h2>More info about <%=booking.toilet.name%></h2>
          <p><%=booking.toilet.description%></p>
          <br>
          <h4>Location</h4>
          <h4><%=booking.toilet.location%></h4>
          <p><%= link_to "Edit booking", edit_booking_path(booking), class: "btn small-btn-show btn-test btn-book-reservation"  %></p>
          <p><%= link_to "Cancel booking", booking_path(booking), method: :delete, class: "btn small-btn-delete btn-test btn-cancel-reservation", data: {confirm: "Cancel booking ?"} %></p>
        </div>
        <% if booking.toilet.photo.attached? %>
          <%= image_tag(booking.user.photo, class: "card-trip-user-seb avatar-bordered") %>
        <% else%>
          <%= image_tag("https://res.cloudinary.com/dlyi5kech/image/upload/v1653654146/Image_d_iOS_oqqiak.jpg", class: "card-trip-user-seb avatar-bordered") %>
        <% end %>
      </div>
      <h4 class="card-trip-pricing">Price per pee is <%=booking.toilet.price%>€</h4>
    </div>
  <% else %>
    <h1>Did you enjoy your pee?</h1>
    <div class="card-trip-seb">
      <%= image_tag("chat_potte.jpeg") %>
    </div>
    <div class="container_chat">
      <%= link_to "Make a toilet review", new_toilet_review_path(booking.toilet), class: "form-actions btn btn-ghost" %>
    </div>
  <% end %>
</div>
