<%# NAVBAR %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag("pissr_logo.png", size: "70x50") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "HOME", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "MESSAGES", "#", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "FAQ", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Your toilets", "#", class: "dropdown-item" %>
              <%= link_to "Make a reservation", "#", class: "dropdown-item" %>
              <%= link_to "Rewards", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>

<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/2018-08-16/Urinals.jpg?pw=1200);">
  <div class="container">
    <h1>People in <strong>Search</strong> of <strong>Safe Restroom</strong>!</h1>
    <p>Change your life and find where to pee fast.</p>
    <a class="btn btn-gradient" href="#">Create your account now 💦 </a>
  </div>
</div>

<% @toilets = [] %>
<% @toilets.each do |toilet| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
<<<<<<< HEAD
       <h2><%=toilet.name%></h2> 
       <%# <p><%= toilet.location, toilet.type  %>
=======
       <h2><%=toilet.name%></h2>
       <p><%= toilet.location, toilet.type  %><strong><%= toilet.price %></strong> </p>
>>>>>>> master
    </div>
  </div>
<% end %>
<div class="cards">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>toilet 1</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>toilet 2</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>toilet 3</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>toilet 4</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>toilet 5</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>



<%# FOOTER %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website has been made with <i class="fas fa-heart"></i> by Antoine, Sébastien, Val and Archi
  </div>
</div>
