<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/2018-08-16/Urinals.jpg?pw=1200);">
    <div class="mega">
    <h1>People In <strong>Search</strong> of <strong>Safe Restroom</strong>!</h1>
    <p>Change your life and find where to pee fast.</p>
    <% if user_signed_in? %>
     <h1>Find your favorite pee spot</h1>
    <% else %>
    <a class="btn btn-gradient" href="/users/sign_up">Create your account now 💦 </a>
    <% end %>
    </div>
</div>
     <div class="search">
      <%# <div class="search-bar"> %>
      <div class="search-form-control">
          <%= form_tag toilets_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a toilet"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
<div class="container">
    <div class="map_seb"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <div class="cards">
      <% @toilets.each do |toilet| %>
        <div class="card-product">
          <% if toilet.photo.attached? %>
           <%= cl_image_tag toilet.photo.key, height: 300, width: 400, crop: :fill %>
           <% else%>
          <%= image_tag "toilette_3.jpeg", height: 300, width: 400, crop: :fill %>
          <% end %>
           <div class="card-product-infos">
                <h2><%=toilet.name%></h2>
                <p><%=toilet.location%></p>
                <strong><%=toilet.price%> Euros</strong> </p>
                <p><%= link_to "Show more", toilet_path(toilet), class: "btn small-btn-show btn-test" %></p>
                <p><%= link_to "Book #{toilet.name}", new_toilet_booking_path(toilet), class: "btn small-btn-book btn-test" %></p>
            </div>
        </div>
      <% end %>
  </div>
</div>
