<%# CARD TRIP %>
<div class="container">
  <div class="card-trip">
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.photo) %>
      <% else%>
        <%= image_tag("toilette_3") %>
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%=@toilet.name%></h2>
        <p><%=@toilet.description%></p>
        <p><%=@toilet.location%></p>
      </div>
      <h2 class="card-trip-pricing">€<%=@toilet.price%></h2>
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.user.photo, class: "card-trip-user avatar-bordered") %>
      <% else%>
        <%= image_tag("pissr_logo", class: "card-trip-user avatar-bordered") %>
      <% end %>
    </div>
  </div>
  <div class="card-trip">
  <% @booking = [] %>
    <div class="log">
      <H5><%=@toilet.name%>is a nice place!</H5>
      <strong>It costs only <%=@toilet.price%> Euros</strong>
      <%= simple_form_for [@user, @toilet, @booking] do |f| %>
      <h2>When do you want to pee?</h2>
      <%= f.input :start_date, as: :select, collection: [['Now', Time.now], ['15', Time.now + 15.minutes] ,['30', Time.now + 30.minutes]], prompt: 'Are you in a hurry?', label: false %>
      <%= f.submit "Book #{@toilet.name}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
