<%# CARD TRIP %>
<div class="card-trip">
  <% toilet_photo = @toilet.photo %>

  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <%# <%= image_tag(current_toilet.photo) %>

  <div class="card-trip-infos">
    <div>
      <h2><%=@toilet.name%></h2>
      <p><%=@toilet.description%></p>
      <p><%=@toilet.location%></p>
    </div>
    <h2 class="card-trip-pricing">€<%=@toilet.price%></h2>
    <%= image_tag(current_user.photo, class: "card-trip-user avatar-bordered") %>
  </div>
</div>
