<%# CARD TRIP %>
<div class="container_show">
  <div class="card-trip">
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.photo) %>
      <% else%>
        <%= image_tag("toilette_3") %>
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%=@toilet.name%></h2>
        <p><%=@toilet.description%></p>
        <p><%=@toilet.location%></p>
      </div>
      <h2 class="card-trip-pricing">€<%=@toilet.price%></h2>
      <% if @toilet.photo.attached? %>
        <%= image_tag(@toilet.user.photo, class: "card-trip-user avatar-bordered") %>
      <% else%>
        <%= image_tag("pissr_logo", class: "card-trip-user avatar-bordered") %>
      <% end %>
      <div style="btn-test">
        <%= link_to "Edit toilet", edit_toilet_path(@toilet), class: "form-actions btn btn-edit" %>
        <%= link_to "Delete toilet", toilet_path(@toilet), method: :delete, class: "form-actions btn btn-delete" %>
      </div>
    </div>
  </div>
</div>
